In [1]:
#https://betterprogramming.pub/how-to-divide-data-into-train-and-test-assuring-representativeness-c4c12c215d79
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html
#https://benalexkeen.com/random-forests-in-python-using-scikit-learn/
#https://medium.com/analytics-vidhya/evaluating-a-random-forest-model-9d165595ad56
#https://medium.com/@pandeypragati2112/svm-and-random-forest-a-case-study-6213da5be02f
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn import svm
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
df_train = pd.read_csv('titanic_train.csv')
df_train = df_train.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)
df_train['Embarked'].fillna('S', inplace = True)
df_train['Age'].fillna(value=df_train['Age'].mean(), inplace=True)

In [2]:
values1 = [0,1]
values2 = [0,1,2]
df_train['Embarked'].replace(['S', 'C', 'Q'], values2, inplace=True)
df_train['Sex'].replace(['male', 'female'], values1, inplace=True)

In [3]:

features = df_train.loc[:, ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]]
features.shape
label = df_train.loc[:,'Survived']
label.shape
f_temp = features.to_numpy()
l = label.to_numpy()
x_train, x_test, y_train, y_test = train_test_split(f_temp, l, test_size=0.33, random_state=20)
rfc = RandomForestClassifier(random_state=0)
rfc.fit(x_train, y_train)
yPred = rfc.predict(x_test)

In [4]:
f = open("output_titanic.txt", "w")
f.write("RANDOM FOREST\n")
f.write(classification_report(y_test, yPred))

326

In [5]:
df_test = pd.read_csv('titanic_test.csv')

In [6]:
df_test['Age'].fillna(value=df_test['Age'].mean(), inplace=True)
df_test['Fare'].fillna(value=df_test['Fare'].mean(), inplace=True)
values1 = [0,1,2]
values2 = [0,1]
df_test['Embarked'].replace(['S', 'C', 'Q'], values1, inplace=True)
df_test['Sex'].replace(['male', 'female'], values2, inplace=True)

In [7]:

f_test = df_test.loc[:, ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]]
f_temp = f_test.to_numpy()
predict = rfc.predict(f_temp)
df_test.insert(0, "Random Forest", predict, True)

In [8]:
logreg = LogisticRegression(solver='lbfgs', max_iter=1000)

logreg.fit(x_train, y_train)

y_pred = logreg.predict(x_test)



f.write("\nLogistic Regression\n")
f.write(classification_report(y_test, y_pred))
predict = logreg.predict(f_temp)
df_test.insert(0, "Logistic Regression", predict, True)

In [9]:
svm = SVC(kernel='linear')

svm.fit(x_train, y_train)

y_pred = svm.predict(x_test)

f.write("\n")
f.write("\nSVM\n")
f.write(classification_report(y_test, y_pred))
predict = svm.predict(f_temp)
df_test.insert(0, "Survived SVM", predict, True)

In [10]:

gnb = GaussianNB()
gnb.fit(x_train, y_train)
y_pred = gnb.predict(x_test)
f.write("\nGaussian Naive Bayes (Extra Credit)\n")
f.write(classification_report(y_test, y_pred))
predict = gnb.predict(f_temp)
df_test.insert(0, "Survived GaussianNB", predict, True)
df_final = df_test.T.drop_duplicates().T
df_final.head(5)

,Survived GaussianNB,Survived SVM,Logistic Regression,Random Forest,PassengerId,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,0,0,0,892,3,"Kelly, Mr. James",34.5,0,0,330911,7.8292,NaN,2
1,1,1,0,0,893,3,"Wilkes, Mrs. James (Ellen Needs)",47.0,1,0,363272,7.0,NaN,0
2,0,0,0,0,894,2,"Myles, Mr. Thomas Francis",62.0,0,0,240276,9.6875,NaN,2
3,0,0,0,0,895,3,"Wirz, Mr. Albert",27.0,0,0,315154,8.6625,NaN,0
4,1,1,1,0,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",22.0,1,1,3101298,12.2875,NaN,0

In [11]:
df_test.to_csv('titanic_test.csv', mode='w', header=True, index=False)
f.close()